* {
  background-color: pink;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px;
}
button {
  font-size: 25px;
  margin: 25px;
  border-radius: 5px;
}
button:hover {
  color: rgba(248, 7, 176, 0.686);
}
button:active {
  color: rgba(0, 0, 0, 0.595);
}
